{:paths ["resources" "src/clj" "src/cljc"]
 :deps {chbrown/ring-data.json {:mvn/version "0.1.0"}
        com.layerware/hugsql {:mvn/version "0.5.3"}
        com.widdindustries/cljc.java-time {:mvn/version "0.1.21"}
        compojure/compojure {:mvn/version "1.6.1"}
        healthsamurai/matcho {:mvn/version "0.3.9"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.51"}
        org.clojure/java.jdbc {:mvn/version "0.7.12"}
        org.clojure/spec.alpha {:mvn/version "0.3.218"}
        org.postgresql/postgresql {:mvn/version "42.3.1"}
        org.slf4j/slf4j-simple {:mvn/version "1.7.5"}
        ring/ring-defaults {:mvn/version "0.3.3"}
        ring/ring-jetty-adapter {:mvn/version "1.9.5"}}

 :aliases
 {:cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version <latest>}}}
  :run {:exec-fn hs-api.server/-main}
  ;; Run with clj -T:build function-in-build
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
          :ns-default build}
  :test
  {:extra-paths ["test/clj" "test/cljc"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}
  :data-seed {:exec-fn hs-api.data/seed}
  :data-cleanup {:exec-fn hs-api.data/cleanup}
  :data-reset {:exec-fn hs-api.data/reset}}}
