{:lein         {:profile "+cljs"}
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [hs-api.core]}}
                      :devtools   {:after-load hs-api.core/mount-root}}}
 :dev-http     {9001 {:root       "resources/public"}}}
