{:dependencies [[lilactown/helix "0.1.6"]
                [cljs-ajax/cljs-ajax "0.7.5"]
                [clj-commons/cljss "1.6.4"]
                [com.widdindustries/cljc.java-time "0.1.21"]]
 :source-paths ["src/clj" "src/cljs" "src/cljc"]
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [hs-api.core]
                                         :init-fn hs-api.core/init!}}
                      :devtools   {:after-load hs-api.core/mount-root}}}
 :dev-http     {9001 {:root       "resources/public"
                      :proxy-rewrite-host-header true
                      :proxy-url  "http://localhost:9000"}}}
