{:dependencies [[com.widdindustries/cljc.java-time "0.1.21"]
                [cljs-ajax/cljs-ajax "0.7.5"]
                [clj-commons/cljss "1.6.4"]
                [day8.re-frame/http-fx "0.2.4"]
                [day8.re-frame/tracing "0.6.2"]
                [day8.re-frame/re-frame-10x "1.2.2"]
                [reagent/reagent "1.1.1"]
                [re-frame/re-frame "1.3.0-rc3"]]

 :source-paths ["src/clj" "src/cljs" "src/cljc"]
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [app.core]
                                         :init-fn app.core/init}}
                      :devtools   {:after-load app.core/mount-root
                                   :preloads [day8.re-frame-10x.preload]}
                      :dev
                      {:compiler-options
                       {:closure-defines
                        {re-frame.trace.trace-enabled?        true
                         day8.re-frame.tracing.trace-enabled? true}}}
                      :release
                      {:build-options
                       {:ns-aliases
                        {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}}
 :dev-http     {9001 {:root       "resources/public"
                      :proxy-rewrite-host-header true
                      :proxy-url  "http://localhost:9000"}}}
